<div class="row justify-content-center">
  <div class="container mc0">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-white pl-0 pt-3">
        <li class="breadcrumb-item"><a routerLink="/"><i class="fa fa-home"></i> Trang chủ</a></li>
        <li class="breadcrumb-item active" aria-current="page">Ngành nghề kinh doanh</li>
      </ol>
    </nav>

    <div class="row justify-content-between">
      <div class="col-9">
        <div class="card">
          <div class="card-header">
            Ngành nghề kinh doanh
          </div>
          <div class="card-body">
            <p class="card-text font-weight-bold">Viễn thông Hà Tĩnh - đơn vị kinh tế trực thuộc Tập đoàn Bưu chính Viễn
              thông Việt Nam,
              được thành lập theo quyết định số 629/ QĐ-TCCB/ HĐQT và 630/ QĐ-TCCB/ HĐQT ngày 06-12-2007 của Hội đồng
              quản trị Tập đoàn Bưu chính Viễn thông Việt Nam, có tư cách pháp nhân, chịu trách nhiệm trực tiếp trước
              pháp luật trong phạm vi quyền hạn và nhiệm vụ của mình.</p>
            <p class="card-text">VNPT Hà Tĩnh là đơn vị kinh tế trực thuộc, hạch toán phụ thuộc Tập đoàn Bưu chính Viễn
              thông Việt Nam; có chức năng hoạt động sản xuất kinh doanh và phục vụ chuyên ngành Viễn thông – công nghệ
              thông tin như sau:</p>
            <ul>
              <li>Tổ chức xây dựng, quản lý, vận hành, lắp đặt, khai thác, bảo dưỡng, sửa chữa mạng Viễn thông trên địa
                bàn thành phố.
              </li>
              <li>Tổ chức, quản lý, kinh doanh và cung cấp các dịch vụ Viễn Thông, công nghệ thông tin</li>
              <li>Sản xuất, kinh doanh, cung ứng, đại lý vật tư, thiết bị Viễn thông – công nghệ thông tin theo yêu cầu
                sản xuất kinh doanh của đơn vị và nhu cầu của khách hàng
              </li>
              <li>Khảo sát, tư vấn, thiết kế, lắp đặt, bảo dưỡng các công trình Viễn thông – công nghệ thông tin</li>
              <li>Kinh doanh dịch vụ quảng cáo; dịch vụ truyền thông</li>
              <li>Kinh doanh bất động sản, cho thuê văn phòng</li>
              <li>Tổ chức phục vụ thông tin đột xuất theo yêu cầu của cấp ủy Đảng, chính quyền địa phương và cấp trên
              </li>
            </ul>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
