<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="container logo">
      <div class="row">
        <a routerLink="/"><img src="../../assets/img/logo-vnpt.jpg"></a>
        <div class="ten">
          <p id="an">TẬP ĐOÀN BƯU CHÍNH VIỄN THÔNG VIỆT NAM</p>
          <p>VNPT HÀ TĨNH</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="position-sticky" style="top:0;">
  <div class="container-fluid bg-primary">
    <div class="row justify-content-center">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <a class="navbar-brand" routerLink="/">VNPT</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item dropdown">
                <a class="nav-link">
                  GIỚI THIỆU
                </a>
                <div class="dropdown-content bg-primary">
                  <a class="dropdown-item" routerLink="#">GIỚI THIỆU CHUNG</a>
                  <!--                                    <div class="dropdown-divider"></div>-->
                  <a class="dropdown-item" routerLink="#">SƠ ĐỒ TỔ CHỨC</a>
                  <!--                                    <div class="dropdown-divider"></div>-->
                  <a class="dropdown-item" routerLink="#">NGÀNH NGHỀ KINH DOANH</a>
                  <a class="dropdown-item" routerLink="#">TRỤ SỞ CHÍNH</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link">
                  TIN TỨC
                </a>
                <div class="dropdown-content bg-primary">
                  <a class="dropdown-item" routerLink="news/promotion-news">TIN KHUYẾN MÃI</a>
                  <a class="dropdown-item" routerLink="news/vnpt-news">TIN VNPT</a>
                  <a class="dropdown-item" routerLink="news/hatinh-news">TIN VNPT HÀ TĨNH</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link">
                  SẢN PHẨM - DỊCH VỤ
                </a>
                <div class="dropdown-content bg-primary">
                  <a class="dropdown-item" routerLink="#">TIN KHUYẾN MÃI</a>
                  <a class="dropdown-item" routerLink="#">TIN VNPT</a>
                  <a class="dropdown-item" routerLink="#">TIN VNPT HÀ TĨNH</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link">
                  HỖ TRỢ
                </a>
                <div class="dropdown-content bg-primary">
                  <a class="dropdown-item" routerLink="support/transaction">ĐIỂM GIAO DỊCH</a>
                  <a class="dropdown-item" routerLink="#">TIN VNPT</a>
                  <a class="dropdown-item" routerLink="#">TIN VNPT HÀ TĨNH</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link">
                  LIÊN KẾT
                </a>
                <div class="dropdown-content bg-primary">
                  <a class="dropdown-item" href="https://vnpt.vn/">TẬP ĐOÀN VNPT</a>
                  <a class="dropdown-item" href="https://vinaphone.com.vn/">CÔNG TY DỊCH VỤ VIỄN THÔNG VINAPHONE</a>
                  <a class="dropdown-item" href="http://vnpti.vn/">CÔNG TY VIỄN THÔNG QUỐC TẾ VTI</a>
                </div>
              </li>

<!--              <li class="nav-item ">-->
<!--                <a class="nav-link" routerLink="#">Home <span class="sr-only">(current)</span></a>-->
<!--              </li>-->
<!--              <li class="nav-item ">-->
<!--                <a class="nav-link" routerLink="#">Link</a>-->
<!--              </li>-->
              <!--              <li class="nav-item">-->
              <!--                <a class="nav-link disabled" routerLink="#">Disabled</a>-->
              <!--              </li>-->
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-dark my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>
      </div>
    </div>
  </div>
</div>
