.container {
  width: 1200px;
  margin: 0 auto;
}

/*logo*/
.logo img {
  width: 100px;
  height: 100px;
}

.ten {
  padding-top: 25px;
  padding-left: 5px;
}

.ten p {
  font-style: normal;
  font-family: Segoe UI, Arial, Verdana, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #0064c8;
  margin: 5px;
}

@media only screen and (max-width: 770px) {
  .ten #an {
    display: none;
  }
  .logo img {
    width: 70px;
    height: 70px;
  }
}

/*navbar*/
.position-sticky {
  z-index: 1;
}

.navbar a {
  font-style: normal;
  font-family: Segoe UI, Arial, Verdana, Helvetica, sans-serif;
  font-size: 16px;
  color: white;
  font-weight: bold;
}

li {
  padding-right: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

/*sub-menu*/
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 8px 8px;
  font-size: 13px;
  font-weight: 600;
}

.dropdown:hover .dropdown-content {
  display: block;
}
