<div class="row justify-content-center">
  <div class="container mc0">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb bg-white pl-0 pt-3">
        <li class="breadcrumb-item"><a routerLink="/"><i class="fa fa-home"></i> Trang chủ</a></li>
        <li class="breadcrumb-item active" aria-current="page">Giới thiệu chung</li>
      </ol>
    </nav>

    <div class="row justify-content-between">
      <div class="col-md-9">
        <div class="card">
          <div class="card-header">
            Giới thiệu chung
          </div>
          <div class="card-body">
            <p class="card-text font-weight-bold">Được thành lập theo quyết định số 629/QĐ-TCCB/HĐQT ngày 6/12/2007 của
              Hội đồng Quản trị Tập đoàn Bưu chính Viễn thông Việt Nam trên cơ sở tổ chức lại các đơn vị kinh doanh dịch
              vụ Viễn thông - Công nghệ thông tin và các đơn vị trực thuộc khác của Bưu điện Hà Tĩnh sau khi thực hiện
              phương án chia tách bưu chính viễn thông trên địa bàn, Viễn Thông Hà Tĩnh chính thức đi vào hoạt động từ
              ngày 01/01/2008.</p>
            <p class="card-text"> Là doanh nghiệp Viễn thông hàng đầu về cung cấp dịch vụ viễn thông và công nghệ thông
              tin trên địa bàn toàn tỉnh, luôn gắn liền với lịch sử hơn 67 năm của dân tộc, gắn liền với sự nghiệp xây
              dựng và bảo vệ tổ quốc, CBCNVC Viễn thông Hà Tĩnh rất đỗi tự hào về những gì đã làm được cho sự nghiệp
              phát triển kinh tế xã hội, an ninh quốc phòng và nâng cao dân trí, góp phần xây dựng quê hương Hà
              Tĩnh.</p>
            <p class="card-text">Ngược dòng lịch sử phát triển của ngành Bưu điện, Cách mạng tháng 8 thành công, CBCNVC
              ngành Bưu điện đã cùng cả nước bước vào giai đoạn trường kỳ kháng chiến chống giặc ngoại xâm. Chín năm
              kháng chiến chống thực dân Pháp, 20 năm đấu tranh chống Mỹ cứu nước thắng lợi. Dân tộc Việt Nam đã làm nên
              biết bao kỳ tích anh hùng tạo nên biết bao điều kỳ diệu lịch sử. Trong những kỳ diệu đó có kỳ diệu của
              Ngành Thông tin Bưu điện, của những con người yêu nước, đi theo Đảng, tin yêu Đảng quyết đem xương máu để
              "nối mạch giao liên" góp phần mở đường thắng lợi trong sự nghiệp cách mạng vĩ đại.</p>
            <p class="card-text">Trong thời kỳ xây dựng đất nước, đặc biệt là trong thời đại CNTT phát triển nhảy vọt
              như hiện nay, với phương châm “đi tắt đón đầu, mạnh dạn đổi mới kỹ thuật, công nghệ, mở rộng mạng lưới, đa
              dạng hoá các loại hình dịch vụ, tiến thẳng vào công nghệ hiện đại”. Ngành Viễn thông đã tạo được những
              bước đi vững chắc, với tốc độ phát triển nhanh, hòa nhập và tiến kịp với các nước trong và ngoài khu
              vực.</p>
            <p class="card-text">Về hoạt động xã hội, Viễn thông Hà Tĩnh luôn duy trì tốt phong trào đền ơn đáp nghĩa,
              thực hiện tốt 10 chữ vàng truyền thống, phụng dưỡng trọn đời 4 bà mẹ Việt Nam anh hùng, xây dựng nhà tình
              nghĩa cho các bà mẹ Việt Nam anh hùng và thân nhân gia đình liệt sỹ ngành Bưu điện. Hàng năm, đơn vị đã
              quyên góp hàng trăm triệu đồng ủng hộ quỹ đền ơn đáp nghĩa, quỹ vì người nghèo, trẻ em tàn tật không nơi
              nương tựa, nạn nhân chất độc màu da cam…</p>
            <p class="card-text">Đến nay, VNPT Hà Tĩnh đã xây dựng và phát triển cơ sở hạ tầng thông tin liên lạc hiện
              đại, đồng bộ và rộng khắp, với đội ngũ CBCNV nhiệt tình, có trình độ chuyên môn cao, cũng như các chính
              sách luôn hướng về quyền lợi của khách hàng, dành cho khách hàng những lợi ích cao nhất. Viễn thông Hà
              Tĩnh đang trên đà phát triển không ngừng về mọi mặt; đóng góp tích cực, có hiệu quả cho sự nghiệp xây dựng
              và phát triển của quê hương đất nước.</p>

            <p class="vht">VNPT Hà Tĩnh</p>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
